<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>회원가입</title>
</head>

<body>
<section layout:fragment="content">

    <script>
            function JoinForm__submit(form) {
                form.username.value = form.username.value.trim();

                if (form.username.value.length == 0) {
                    alert("아이디를 입력해주세요.");
                    form.username.focus();
                    return;
                }

                form.password1.value = form.password1.value.trim();

                if (form.password1.value.length == 0) {
                    alert("비밀번호를 입력해주세요.");
                    form.password1.focus();
                    return;
                }

                form.password2.value = form.password2.value.trim();

                if (form.password2.value.length == 0) {
                    alert("동일한 비밀번호를 입력해주세요.");
                    form.password2.focus();
                    return;
                }
                form.email.value = form.email.value.trim();

                if (form.email.value.length == 0) {
                    alert("이메일을 입력해주세요.");
                    form.email.focus();
                    return;
                }

                form.submit();
            }

        </script>


    <div class="container">
        <form th:action th:object="${createMemberForm}" method="post" onsubmit="JoinForm__submit(this); return false;">
            <div class="mb-3">
                <span>아이디</span>
                <input type="text" th:field="*{username}" class="form-control" name="username">
            </div>
            <div class="mb-3">
                <span>비밀번호</span>
                <input type="password" th:field="*{password1}" class="form-control" name="password1">
            </div>
            <div class="mb-3">
                <span>비밀번호 확인</span>
                <input type="password" th:field="*{password2}" class="form-control" name="password2">
            </div>
            <div class="mb-3">
                <span>이메일</span>
                <input type="email" th:field="*{email}" class="form-control" name="email">
            </div>
            <div class="mb-3">
                <span>닉네임</span>
                <input type="text" th:field="*{nickname}" class="form-control" >
            </div>
            <button type="submit" class="btn btn-primary">가입</button>
        </form>
    </div>

</section>
</body>
</html>